# Dados
data/*.csv
data/*.parquet

# Ambientes virtuais e cache (Python)
venv/
.venv/
__pycache__/
*.pyc

# Logs e arquivos de sistema
*.log
.DS_Store
Thumbs.db

# Configurações do VS Code
.vscode/

# Banco de dados e credenciais
.env